@use '../base' as base;

@mixin placeholder-on-focus {
  color: black;
  opacity: 0.8
}

.dashboard-section {
  min-height: 100vh;
  padding-top: 140px;
  padding-bottom: 70px;

  .row > * {
    padding-left: 0!important;
    padding-right: 0!important;
  }

  .profile-wrapper {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 8px 40px rgba(#000000, .2);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    .profile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      .thumbnail {
        width: 124px;
        height: 124px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5em;
        border-radius: 100%;
        box-shadow: 0 13px 26px rgba(#000, .2), 0 3px 6px rgba(#000, .2);
      }
      .name {
        color: base.$primary-2;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
      }

      .description {
        color: #080911;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 1.3em;
      }

      .primary-button {
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
      }
    }
  }

  .card-heading-wrapper {
    .filter-form {
      .row {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
    }

    form {
      .filter-group {
        display: grid;
        grid-template-columns: auto 3fr 1fr;
	      grid-template-rows: 1fr;
        grid-template-areas: "box1 box2 box3";

        .form-label {
          grid-area: box1;
          padding-right: 1em;
        }

        .react-datepicker-wrapper {
          grid-area: box2;
        }

        .button-wrapper {
          grid-area: box3;
          display: flex;

          .primary-button {
            margin-left: auto;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
          }
        }
      }

      .react-datepicker-ignore-onclickoutside {
        &:focus {
          border: 1px solid base.$primary-2!important;
          box-shadow: none;
          &::-webkit-input-placeholder {
            color: black;
            opacity: 1
          }
          &::-moz-placeholder {
            @include placeholder-on-focus
          }
          &:-ms-input-placeholder {
            color: black;
            opacity: 1
          }
          &:-o-input-placeholder {
            color: black;
            opacity: 1
          }
        }
      }

      .filter-group-admin {
        display: grid;
        grid-template-columns: 2fr 2fr;
	      grid-template-rows: 1fr;
        grid-template-areas: "box1 box2";
        
        .react-datepicker-wrapper {
          grid-area: box1;
        }

      }

      @media screen and (max-width: 540px) {
        .filter-group {
	        grid-template-rows: 1fr 1fr;
          grid-template-columns: 2fr 1fr;
          grid-template-areas: "box1 box1"
                               "box2 box3";
        }
      }
    }
  }
}