@use '../base' as base;
@use '../components/section' as section;
.view-faq {
  height: 30vh;
  position: relative;
  overflow: hidden;

  .mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
  }
  @include base.respond-to(medium) {
    height: 40vh;
  }
  @include base.respond-to(small) {
    height: 40vh;
  }
}

.hero-header-faq {
  background-image: url('../../img/png/hero-header.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: base.$montserrat;
  .hero-header-content {
    color: base.$white-0;

    .hero-header-title {
      font-size: 4rem;
      .highlight {
        color: base.$primary-2;
      }
    }

    .hero-header-description {
      font-size: 1.5rem;
      font-weight: base.$normal;

      span {
        background-color: base.$primary-1;
      }
    }

    .hero-header-call-to-action {
      padding-top: 76px;
    }
  }
  
  @include base.respond-to(medium) {
    .hero-header-content {

      .hero-header-title {
        font-size: 2.5rem;
      }
  
      .hero-header-description {
        font-size: 1.2rem;
      }
    }
  }

  @include base.respond-to(small) {
    .hero-header-content {

      .hero-header-title {
        font-size: 2.1rem;
      }
  
      .hero-header-description {
        padding-top: 24px;
        font-size: 1rem;
      }
    }
  }
}

.accordion-item {
  .accordion-button:not(.collapsed) {
    color: base.$primary-2;
    background-color: base.$primary-0;
  }
  .accordion-header .active {
    background-color: base.$primary-1!important;
  }
}