@use '../base' as base;

.card-heading-wrapper {
  min-height: 180px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 8px 40px rgba(#000000, .2);

  .card-body {
    .card-heading {
      color: base.$primary-2;
      font-weight: base.$bold;
    }
    .header {
      .primary-button {
        padding: 0.5rem 1rem;
      }
    }
  }
}