@use '../base' as base;

@mixin placeholder-on-focus {
  color: black;
  opacity: 0.8
}

.image-form-wrapper {
  padding-top: 140px;
  padding-bottom: 140px;
  min-height: 100vh;

  .no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
  .img-wrapper {
    background-color: base.$white-1;
    border-radius: .25rem 0 0 .25rem;
    .logo {
      height: 90%;
    }

    h2 {
      color: base.$primary-2;
      font-weight: base.$bold;
    }
  }

  h4 {
    color: base.$primary-2;
    font-weight: base.$semibold;
  }
  
  .form-control:focus {
    box-shadow: none;
  }

  form {
    input {
      width: 100%;
      height: 48px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border: none;
      padding-left: 20px;
      margin-bottom: 20px;
      font-size: 16px;
      -webkit-transition: all 0.3s;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      border: 1px solid base.$black-1;
      &:hover{
        border: 1px solid base.$primary-2;
      }

      &:focus {
        border: 1px solid base.$primary-2;
        &::-webkit-input-placeholder {
          color: black;
          opacity: 1
        }
        &::-moz-placeholder {
          @include placeholder-on-focus
        }
        &:-ms-input-placeholder {
          color: black;
          opacity: 1
        }
        &:-o-input-placeholder {
          color: black;
          opacity: 1
        }
      }

      &.wrong-input {
        border: 1px solid rgb(220,53,69);
      }
    }
      
    .form-text {
      margin-top: 0!important;
    }

    input:focus input::-webkit-input-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, input:-o-input-placeholder {
      color: black;
      opacity: 1
    }

    .primary-button {
      width: 100%;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }
    
    .country-span {
      margin-bottom: 20px
    }
  }

  .bottom-link a{
    text-decoration: none;
    color: base.$primary-2;
  }
}