@use '../base' as base;

.section-wrapper {
  min-height: 100vh;
  padding: 72px 90px;
  font-family: base.$montserrat;

  .title-wrapper {
    padding-bottom: 24px;
    color: base.$primary-2;
    h1 {
      font-weight: base.$bold !important;
    }
  }

  @include base.respond-to(medium) {
    padding: 72px 0;
  }

  @include base.respond-to(small) {
    padding: 72px 0;
  }
}